* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 700px;
    margin: 30px auto;
}

/* HEADER */

.main-header img {
    display: block;
    width: 40%;
    margin: 30px auto;
}

/* MAIN */

.input-box {
    position: relative;
    max-width: 100%;
    margin: 30px 20px;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 10px;
}

.add-task {
    width: 85%;
    height: 50px;
    line-height: 50px;
    padding: 0 10px 0 20px;
    border: 0;
    font-size: 18px;
    outline: none;
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: 100%;
    border: 0;
    background: #001533;
    color: #00e165;
    cursor: pointer;
}

.tasks {
    max-width: 500px;
    margin: 30px auto;
    padding: 0 20px;
}

.tasks p {
    text-align: center;
    font-size: 40px;
}

.tasks li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
    border-radius: 14px;
    background: rgba(199, 195, 195, 0.521);
    padding: 0 10px;
    margin: 5px 0;
}

.tasks li i {
    cursor: pointer;
}