<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>
<body>

    <div id="app">
        <div class="container">
            <header class="main-header">
                <img src="./img/logo.png" alt="">
            </header>
            <main>
                <div class="input-box">
                    <input 
                        type="text"
                        class="add-task"
                        :placeholder="[[ placeholder ]]"
                        v-model="newTask"
                        @keyup.enter="addTask">
                    <button
                        class="btn"
                        @click="addTask">
                        <i class="fas fa-plus fa-2x"></i>
                    </button>
                </div>

                <ul class="tasks">
                    <p v-if="tasks.length === 0">Nessun attività presente</p>
                    <li v-for="(task, index) in tasks">
                        <span>{{ task }}</span>
                        <i class="fas fa-trash" @click="removeTask(index)"></i>
                    </li>
                </ul>
            </main>
        </div>
    </div>

    <script src="./js/main.js"></script>
    
</body>
</html>